{% load static %}
{% load custom_filter %}
{% include 'buyingview/header.html' %}


    <!--main css for buyer order -->
    <link rel="stylesheet" href=  "{% static 'css/buyer-order.css' %}" />

    <link rel="stylesheet" href=  "{% static 'css/make-payment-for-buyer.css' %}" />

    <script src="{% static 'js/arko-header.js' %}" defer></script>

    <script src="{% static 'js/buying-order-arko.js' %}" defer></script>


    
    
  <div class="tab-view container d-flex mt-5">

        <p class="place-order">PLACED ORDER 
            <span class="circle__badge___requ">
                <span>{{ not_delivered_orders }}</span>
            </span>
        </p>

      <p class="ongoing-project">ONGOING PROJECTS 
            <span class="circle__badge___requ">
                <span>{{ ongoing_projects }}</span>
            </span>
      </p>

      <p class="premium-order">PREMIUM ORDER
            <span class="circle__badge___requ">
                <span>{{ premium_orders|length }}</span>
            </span>
      </p>


  </div>



<!-- for placed order -->
  <div class="order-details-for-payment container for-placed-order mb-5">

    <div class="order-list table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="col-4 align-middle for-name">OFFER TITLE</th>
            <th scope="col" class="col-2 align-middle for-name">BUYER NAME</th>
            <th scope="col" class="col-2 align-middle for-name">SELLER NAME</th>
            <th scope="col" class="col-1 align-middle">GRAND TOTAL</th>
            <th scope="col" class="col-2 align-middle text-center">ACTION</th>
            <th scope="col" class="col-1 align-middle"></th>
          </tr>
        </thead>


        <tbody class="main-table">
        {% for order in orders %}
        {% if order.order_status != "DELIVERED" %}
            <tr>
              <td scope="row" class="align-middle for-width">
                  
                <div class="d-flex align-items-center">
                    <div class="m-1">
                    {% if order.buyer_check == False %}
                        <span class="for-new-notification badge ">New</span>
                    {% else %}{% endif %}
                    </div>
                  
                    <div class="offer-title">
                        <p >
                        {{ order.package.offer.offer_title }}
                        </p>
                    </div>
                </div>
                
              </td>
              <td class="align-middle for-name">{{ order.user }}</td>
              <td class="align-middle for-name">{{ order.seller }}</td>
              <td class="align-middle">USD  {{ order.grand_total }}</td>
              {% if order.paid == False %}
                <td class="align-middle text-center">
                    {% if order.order_status != "ON REVIEW" %}
                  <a href="{% url 'OrderDetails' order.id order.slug %}" class="button make-payment align-middle text-center">
                    <button class="make-payment">
                      Make payment
                    </button>
                  </a>
                  {% endif %}
                </td>
              {% else %}
              <td class="align-middle">
                <div class="button text-center align-middle">
                  <span class="review-button align-middle text-center review__btnPrimary">
                    Paid
                  </span>
                  
                </div>
              </td>
              {% endif %}
              <td class="align-middle">
                <div class="button text-center align-middle">
                  <div class=" align-middle text-center ">
                      <span class="review-button">
                    {{ order.order_status }}
                    {% if order.order_status == "COMPLETED" and order.rated == False %}
                      </span>
                  
                      <a href="{% url 'ReviewOffer' order.id %}" class="button  align-middle text-center review-seller">Review Seller</a>
                 
                    {% else %}{% endif %}
                    
                  </div>
                </div>
              </td>
            </tr>
            {% endif %}
          {% endfor %}  
        </tbody>  
<!-- last total amount -->
      </table>
    </div>

  </div>



<!-- for ongoing project -->

<div class="order-details-for-payment container for-ongoing mb-5">

  <div class="order-list table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="align-middle for-name">OFFER TITLE</th>
          <th scope="col" class="align-middle for-name">SELLER NAME</th>
          <th scope="col" class="align-middle ">GRAND TOTAL</th>
          <th scope="col" class="align-middle text-center"></th>
          <th scope="col" class="align-middle text-center">ACTION</th>
        </tr>
      </thead>

      <tbody>
        {% for item in seller_submit %}
          {% if item.checkout.order_status == "DELIVERED" %}
            <tr>
              <td scope="row" class="align-middle for-name">{{ item.checkout.package.offer.offer_title }}</td>
              <td class="align-middle for-name">{{ item.checkout.seller }}</td>
              <td class="align-middle">USD {{ item.checkout.total }}</td>
              <td class="align-middle">
                <div class="button text-center align-middle">
                  <span class="review-button align-middle text-center ">
                    {{ item.checkout.order_status }}
                  </span>
                </div>
              </td>
              <td class="align-middle text-center">
                <a href="{% url 'buyer-orders' item.checkout.id item.checkout.slug %}" class="button align-middle text-center ">
                  <button class="view">
                    View
                  </button>
                </a>
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>  
    </table>
  </div>

</div>


<!-- for premium offers -->

<div class="order-details-for-payment container for-premium  mb-5">

    <div class="order-list table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="align-middle for-name">DATE</th>
            <th scope="col" class="align-middle for-name">TRANSACTION ID</th>
            <th scope="col" class="align-middle ">PACKAGE TITLE</th>
            <th scope="col" class="align-middle ">DURATION</th>
            <th scope="col" class="align-middle text-center">TOTAL</th>
            <th scope="col" class="align-middle text-center">STATUS</th>
            <th scope="col" class="align-middle text-center">ACTION</th>
          </tr>
        </thead>
  
        <tbody>
          {% for item in premium_orders %}
            
              <tr>
                <td scope="row" class="align-middle for-name">{{ item.created_at }}</td>
                <td class="align-middle for-name">{{ item.tran_id }}</td>
                <td class="align-middle">{{ item.pkg.pkg_title }}</td>
                <td class="align-middle">3 DAYS</td>
                <td class="align-middle">USD {{ item.total }}</td>
                <td class="align-middle">
                  <div class="button text-center align-middle">
                    <span class="review-button align-middle text-center ">
                      {{ item.status }}
                    </span>
                  </div>
                </td>
                <td class="align-middle text-center">
                {% if item.is_paid == False %}
                  <a href="{% url 'PremiumPayment' item.id %}" class="button align-middle text-center ">
                    <button class="view">
                      PAY NOW
                    </button>
                  </a>
                  {% else %}
                    <p class="badge bg-warning paid-button" style="margin-bottom: 0px">PAID</p>
                  {% endif %}
                </td>
              </tr>
          
          {% endfor %}
        </tbody>  
      </table>
    </div>
  
</div>



{% include 'buyingview/buying_footer.html' %}