{% extends 'accountview/base.html' %}
{% load static %}

{% block content%}
<link rel="stylesheet" href="{% static 'css/email_sent.css' %}"/>


<div class="email___main__div">
    <div class="container">
        <div class="check___email__notifications">
            <p class="text-center"><span class="iconify success______icon" data-icon="clarity:success-standard-solid" style="color: #428ad3;"></span></p>
            <h3 class="text-center p-5">Password Changed Successfully!</h3>
            <div class="again__log__in d-flex justify-content-center">
                <a href="{% url 'user_login' %}" class="btn btn-primary">Log in again</a>
            </div>
        </div>
    </div>
</div>


{% include 'buyingview/buying_footer.html'%}

{% endblock %}
