{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="shortcut icon" href="{% static 'images/Favicon-color-round.png' %}">
    <link rel="stylesheet" href="{% static 'css/adminpanel.css' %}">
    <title>Payment Details</title>
</head>
<body>
    
    <div class="main____payment____details">
        
<div class="token___id">
    
{{ payment_details.orderId }}


    </div>

<form action="" method="POST">
    {% csrf_token %}
    <select name="status">
        <option value="PENDING">PENDING</option>
        <option value="DONE">DONE</option>
        <option value="DECLINED">DECLINED</option>
    </select>
    <button type="submit">UPDATE</button>
</form>
        </div>
    
</body>
</html>
