{% load static %}
{% include 'base.html' %}



    <div class="d-flex" id="wrapper">
        {% include 'sidebar.html' %}

        <!-- Page Content -->
        <div id="page-content-wrapper">
            {% include 'nav.html' %}

            <div class="container-fluid px-4">
                <div class="row g-3 my-2 new__admin__middle">
            

                    <div class="col-md-3">
                        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                            <div>
                                <h3 class="fs-2">{{ completed_orders }}</h3>
                                <p class="fs-5"><a href="#">COMPLETED TRANSACTIONS</a></p>
                            </div>
                            <i class="fas fa-truck fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                            <div>
                                <h3 class="fs-2">{{ increase }}%</h3>
                                <p class="fs-5"><a href="#">Increase</a></p>
                            </div>
                            <i class="fas fa-chart-line fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                        </div>
                    </div>
                </div>



                <div class="row my-5">

                   <div class="search__bar__container">
                    <form class="main__search__bar">
                        <div class="mb-3">
                            
                          <input id="transaction____search" name="searchQuery" type="search" class="form-control" placeholder=" Search ID here.." aria-describedby="emailHelp" required>
                          
                        </div>
                    </form>

                   </div>

                    <h3 class="fs-4 mb-3">Recent Offers</h3>
                    <div class="col table-responsive">
                        <table class="table bg-white rounded shadow-sm  table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Order ID</th>
                                    <th scope="col">Buyer Name</th>
                                    <th scope="col">Seller Name</th>
                                    <th scope="col">Duration</th>
                                    <th scope="col">Offer Title</th>
                                    <th scope="col">Order Status</th>
                                    <th scope="col">Action</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if transactions %}
                                    {% for order in transactions %}
                                        <tr>
                                            <th class="monitor">
                                                <span class="new_____span">New</span> {{ order.id }}</th>
                                            
                                            
                                            
                                            <td>{{ order.user }}</td>
                                            <td>{{ order.seller }}</td>
                                            <td>{{ order.creater_at }}</td>
                                            <th>{{ order.package }}</th>
                                            <td>{{ order.order_status }}</td>
                                            
                                        <td><a href="{% url 'order_details' order.id %}">View</a></td>
                                            <td>BDT {{ order.grand_total }}</td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                <p class="alert alert-warning">No Orders Found!</p>
                                {% endif %}
                                
                            </tbody>

                            




                        </table>

                        <!-- PAGINATOR SECTION -->
<!-- 
                        <tfoot>
                            <tr>

                              <div class="pagination">
                                  <span class="step-links">
                                      {% if orders_obj.has_previous %}
                                          <a href="?page=1">&laquo; first</a>
                                          <a href="?page={{ orders_obj.previous_page_number }}">previous</a>
                                      {% endif %}

                                      <span class="current">
                                          Page {{ orders_obj.number }} of {{ orders_obj.paginator.num_pages }}.
                                      </span>

                                      {% if orders_obj.has_next %}
                                          <a href="?page={{ orders_obj.next_page_number }}">next</a>
                                          <a href="?page={{ orders_obj.paginator.num_pages }}">last &raquo;</a>
                                      {% endif %}
                                  </span>
                              </div>

                            </tr>
                          </tfoot> -->
                         <!-- PAGINATOR SECTION END  --> 


                        

<!-- bootstrap pagination start    -->
                <div class="pagination__container d-flex justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">

                          <li class="page-item">
                        
                        {% if orders_obj.has_previous %}                            
                            <a class="page-link" href="?page={{ orders_obj.previous_page_number }}"> &laquo; previous</a>
                        {% endif %}


                          </li>                          
                          
                        <li class="page-item">
                        {% if orders_obj.has_next %}
                            <a class="page-link" href="?page={{ orders_obj.next_page_number }}">next</a>
                        </li>
        
                        <li class="page-item">
                            <a class="page-link" href="?page={{ orders_obj.paginator.num_pages }}">last &raquo;</a>
                        </li>
                        {% endif %}

<!-- bootstrap pagination end    -->



                           

                        
                        </ul>
                      </nav>
                </div>

                        
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        var el = document.getElementById("wrapper");
        var toggleButton = document.getElementById("menu-toggle");
    
        toggleButton.onclick = function () {
            el.classList.toggle("toggled");
        };
    </script>
    
    <script src="{% static 'js/adminpannel.js' %}"></script>
    
