{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
    rel="stylesheet"
  />

  
     <link rel="shortcut icon" href="{% static 'images/Favicon-color-round.png' %}">
     <link rel="stylesheet" href="{% static 'css/404.css' %}">
    <title>Not Found</title>
</head>
<body>

    <div class="main___div">
        <img src="{% static 'images/404.png' %}">
        <p class="not____found___text">Page Not Found</p>
    </div>
    
    <div class="go___back____home____btn">
        <a href="{% url 'buying_view' %}" class="main____back___btn">Go Back Home</a>
        </div>
    
</body>
</html>