*{box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'poppins', sans-serif;
}
body {
    background-color: #f5f5f5 !important;
    width: 100%;
}

.all___select___class{
    width: 50%;
    margin: 0 auto;
    background: #fff;
    padding: 12px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.main___select___class{
    width: 100%;
}
.select___class, .exam____submit___button{
    padding: 15px;
}
.select___class{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 18px;
}
.mainCate1{
    margin-left: 36px;
}
.main____category{
    padding: 8px;
    border-radius: 4px;
    background: #fff;
    color: #000;
    outline: none;
    transition: .2s ease-in-out;
    width: 80%;
}
.main____category:hover{
    background: #f5f5f5;
}
.category___title{
    background: #fff;
    color: #000;
    padding: 15px;
    border-radius: 4px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.submit________button{
    background-color: #428ad3;
    color: #fff;
    padding: 6px 35px;
    border-radius: 4px;
    transition: .2s ease-in-out;
    border: none;
    outline: none;
}
.submit________button:hover{
    background-color: #3DA1CA;
}

.new____submit___button{
    margin-top: 15px;
}

.main____category___new option{
    width: 100% !important;
}


@media (max-width: 1162px){
    .mainCate1{
        margin-left: 0;
    }
    .select___class{
        margin: 5px;
    }
}
@media (max-width: 900px){
    .all___select___class{
        width: 100%;
    }
    .mainCate1{
        margin-left: 37px;
    }
    .submit________button{
        width: 60%;
    }
    .all___select___class{
        width: 60%;
    }
}
@media (max-width: 472px){
 
    .mainCate1{
        margin-left: 0;
    }
    .submit________button{
        width: 60%;
    }
    
}
@media (max-width: 455px){
 
    .all___select___class{
        width: 100%;
    }
    
}









