{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css link  -->
    <link rel="stylesheet" href="{% static 'css/rafsun.css' %}">
    <!-- google fonts  -->
    <link
    href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
    rel="stylesheet"
  />
    <!-- boostrape link  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Header</title>
</head>

<body>
   <header>
       
       
        <div class="Headernav">

            <!-- up nav bar  -->
            <div class="topnavbar">
                <div class="container"> 
                 <div class="topnav">

                     <div class =" Maketlogo">
                        <a href="#" > <img src="{% static 'images/marketage.png' %}" alt=""
                            style="height: 50px;width:200px;"> </a>
                     </div>
                    
         
         
                      <div class="HeaderMenu">
                         <a class="active" href="#home">MARKETAGE Pro</a>
                         <a href="#news">Message</a>
                         <a href="#news">Buyer post</a>
                         <a href="#contact">Orders</a>
                         <a href="#about">Switch to Selling</a>
                      </div>
     
                      
                     <div class="Searchbar"> 
                         <form class="example" action="action_page.php">
                             <input type="text" placeholder="Search.." name="search">
                             <button type="submit"><span class="iconify Search-icon" data-icon="mdi:magnify"></span></i></button>
                           </form>
                     </div>
                 </div>
     
                </div> 
             </div> <hr style="margin-top: 0px; border: 0.2px solid black;margin-bottom: 0px;">
     


    <!-- catagory  -->
   
          <div>
            <div class="container">
                <div class="Catagorybar">
                    <ul>
                        
                        
                        <li>
                          <ul>
                            <a href="#">Writing & Translation &#9662;</a>
            
                      

                                  <div class="under-dropdown">

                                    <div class="first">
                                        
                                        <li><a href="#">Bangla</a></li>
                                        <li><a href="#">Hindi</a></li>
                                        <li><a href="#">Russian</a></li>
                                        <li><a href="#">Tamil</a></li>
                                        <li><a href="#">spain</a></li>
                                        <li><a href="#">Purtogij</a></li>
                                        <li><a href="#">Tamil</a></li>
                                        <li><a href="#">spain</a></li>
                                        <li><a href="#">Purtogij</a></li>
                       
                                    </div>


                                    <div class="firstsecond">
                                       
                                        <li><a href="#">Programming & Tech</a></li>
                                        <li><a href="#">Programming & Tech</a></li>
                                        <li><a href="#">Programming & Tech</a></li>
                                        <li><a href="#">Programming & Tech</a></li>
                                        <li><a href="#">Programming & Tech</a></li>
                                        <li><a href="#">Programming & Tech</a></li>
                                   
                                    </div>


                                    <div class="third">
                                  
                           
                                       
                                        <li><a href="#">Programming & Tech</a></li>
                                        <li><a href="#">Programming & Tech</a></li>
                                        <li><a href="#">Programming & Tech</a></li>
                                        <li><a href="#">Programming & Tech</a></li>
                                        <li><a href="#">Programming & Tech</a></li>
                                        <li><a href="#">Programming & Tech</a></li>
                                  
                                    </div>
                                  
                                  </div>

                                    
                       
                      

                                </ul>
                            
                        </li>

                        <li><a href="#">Logo Design</a></li>
                        <li><a href="#">Web Programming</a></li>
                        <li><a href="#">Voice</a></li>
                       
                        <li><a href="#">Programming & Tech</a></li>
                        <li><a href="#">Life Style</a></li>
                        <li><a href="#">Business</a></li>
                        <li><a href="#">View More</a></li>
                    </ul>
                </div>

          </div>
         </div><hr style="margin-top: 0px; border: 0.2px solid black;margin-bottom: 0px;">
         

        </div>   
       
   
    


   </header>
   <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
</body>

</html>