<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<form action="" method="POST" class="p-5">
    {% csrf_token %}
    <input type="number" placeholder="Enter Rating..." class="form-control"></br></br>
    <textarea type="text" placeholder="Enter text..." class="form-control" rows="5"></textarea><br><br>
    <button type="submit" class="btn btn-dark col-lg-12">Submit Review</button>
</form>